footer {
    background-color: black;
    height: 40px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;

    .reseaux {
        display: flex;
        list-style: none;

        li {
            margin-left: 0.5em;
        }

        img {
            width: 1.4em;
        }
    }

    .play {
        display: flex;
        justify-content: end;
        align-items: center;

        .haveAccount {
            position: absolute;
            right: 17%;
        }

        .playFree {
            position: absolute;
            right: 0;
            bottom: 0;
            overflow: hidden;
            width: 16%;

            img {
                width: 101%;
            }
        }
    }
}

footer {
    .reseaux {
        img {
            &:hover {
                opacity: 0.8;
            }
        }
    }

    .haveAccount {
        &:hover {
            opacity: 0.8;
        }
    }
}