.fondEcranDiv {
    height: 100%;
    overflow: hidden;

    .fondEcran {
        position: relative;
        width: 100%;
    }

    .fondEcran2 {
        position: absolute;
        z-index: 2;
        top: -26%;
        right: 0%;
    }

    .fondEcran3 {
        position: absolute;
        z-index: 3;
        right: 0%;
        top: -26%;
    }

    .fondEcran4 {
        position: absolute;
        z-index: 3;
        right: 0%;
        top: -26%;
    }

    .fondEcran5 {
        position: absolute;
        z-index: 3;
        right: 0%;
        top: -26%;
    }

    .fondEcran6 {
        position: absolute;
        z-index: 3;
        right: 0%;
        top: -26%;
    }

    .fondEcran7 {
        position: absolute;
        z-index: 3;
        right: 0%;
        top: 20%;
    }
}

.homepageLogo {
    width: 100%;
    height: 90%;
    top: 30px;
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.233);
    padding-top: 45px;
    .p-frt_head_xiv_text {
        color: white;
        font-size: 100%;
        padding-bottom: 2vh;
        padding-top: 0vh;
        width: 22%;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.5;
    }
    .is-pc{
        width: 38%;
        margin-top: 1em;
    }
    .divBtn{
        text-align: center;
    }
    .is-btn_hover__none{
        width: 40%;
        opacity: 1;
        position: relative;
        z-index: 2;
        &:hover{
            animation: inscrivezVous 200ms ease-in-out forwards;
            cursor: grab;
        }
    }
    .is-btn_hover__none2{
        width: 250px;
        position: absolute;
        right: 635px;
        z-index: 0;
    }
    @keyframes inscrivezVous {
        from{
            opacity: 1;
        }
        to{
            opacity: 0;
        }
    }
    .attention{
        width: 40%;
        text-align: center;
        color: white;
        margin-top: 1.5em;
        font-size: 22px;
        .defile{
            width: 100%;
        }
        .scroll_attention{
            width: 20px;
            margin-top: 1.5em;
        }
    }
}
.defile, .scroll_attention{
    animation: voirEnBas 1.2s infinite ease-in-out alternate-reverse;
    position: absolute;
    text-align: center;
}

@keyframes voirEnBas {
    from{
        top: -5px;
    }
    to{
        top: 5px;
    }
}
